<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="'viewport" content="width=device-width, initial-scale=1.0">
    <title>about me</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/my.css">
</head>
<body>
<!--导航-->
<nav th:replace="_fragments :: menu(5)" class="ui segment attached m-padded-tb-min bg-orange m-shadow-small">
    <div class="ui container" style="width: 73%">
        <div class="ui stackable menu secondary bg-orange">
            <h2 class="ui header blue item">David Blog</h2>
            <a href="#" class="item white"><i class="home icon"></i>index</a>
            <a href="#" class="item white"><i class="idea icon"></i>category</a>
            <a href="#" class="item white"><i class="tags icon"></i>tag</a>
            <a href="#" class="item white"><i class="clone icon"></i>archive</a>
            <a href="#" class="item white"><i class="info icon"></i>about me</a>
            <div class="right item">
                <div class="ui icon input">
                    <input type="text" placeholder="Search...">
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>

</nav>
<!--中间内容-->
<div class="m-padded-tb-big">
    <div class="ui container">
        <div class="ui grid">
            <div class="five wide column">
                <div class="ui top attached segment">
                    <div class="ui header">About Me</div>
                    <div class="ui attached segment">
                        <p class="m-text">Ambitious java full stack developer with one and a half years of experience. Office technical expertise with website and applet front-end and back-end. Able to work well independently or as a part of a software programming team.</p>
                    </div>
                    <div class="ui attached segment">
                        <div class="ui purple left pointing basic label">programming</div>
                        <div class="ui green left pointing basic label">learning</div>
                        <div class="ui yellow left pointing basic label">thinking</div>
                    </div>
                    <div class="ui attached segment">
                        <div class="ui blue basic label m-margin-tb-small">java</div>
                        <div class="ui blue basic label m-margin-tb-small">javascript</div>
                        <div class="ui blue basic label m-margin-tb-small">html</div>
                        <div class="ui blue basic label m-margin-tb-small">css</div>
                        <div class="ui blue basic label m-margin-tb-small">vue</div>
                        <div class="ui blue basic label m-margin-tb-small">springboot</div>
                        <div class="ui blue basic label m-margin-tb-small">mysql</div>
                        <div class="ui blue basic label m-margin-tb-small">jpa</div>
                        <div class="ui blue basic label m-margin-tb-small">jsp</div>
                        <div class="ui blue basic label m-margin-tb-small">mybatis-plus</div>
                        <div class="ui blue basic label m-margin-tb-small">semanticUI</div>
                        <div class="ui blue basic label m-margin-tb-small">jquery</div>
                        <div class="ui blue basic label m-margin-tb-small">layui</div>
                        <div class="ui blue basic label m-margin-tb-small">uni-app</div>
                        <div class="ui blue basic label m-margin-tb-small">redis</div>
                        <div class="ui blue basic label m-margin-tb-small">thymeaf</div>
                    </div>
                    <div class="ui bottom attached segment">
                        <a href="#" class="ui phone circular icon button" data-content="022-6936809"
                           data-position="bottom center"><i class="phone icon"></i></a>
                        <a href="#" class="ui wechat circular icon button"><i class="weixin icon"></i></a>
                        <a href="#" class="ui qq circular icon button" data-content="769673498"
                           data-position="bottom center"><i class="qq icon"></i></a>
                    </div>
                    <div class="ui wechatQr flowing popup transition hidden">
                        <div class="ui images">
                            <div class="image">
                                <img src="../static/image/my-QRcode.jpg" th:src="@{/image/my-QRcode.jpg}" class="ui rounded bordered image" style="width: 130px">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="eleven wide column">
                <img th:src="@{/image/photo.jpg}" class="ui rounded image">
            </div>
        </div>
    </div>
</div>
<!--底部-->
<footer th:replace="_fragments :: footer" class="ui inverted segment vertical attached bg-orange m-padded-tb-massive" style="border: none">
    <div class="ui center aligned container" style="width: 80%">
        <div class="ui inverted divided grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../static/image/myPic.png" class="ui rounded image" style="width: 110px">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h3 class="ui inverted header m-text-thin m-text-spaced">latest blog</h3>
                <div class="ui inverted link list">
                    <a href="#" class="item">用户故事 (User story)</a>
                    <a href="#" class="item">用户故事 (User story)</a>
                    <a href="#" class="item">用户故事 (User story)</a>
                </div>
            </div>
            <div class="three wide column">
                <h3 class="ui inverted header m-text-thin m-text-spaced">contact me</h3>
                <div class="ui inverted link list">
                    <div class="item">Email: davidli365168@gmail.com</div>
                    <div class="item">facebook: (User story)</div>
                </div>
            </div>
            <div class="seven wide column">
                <h3 class="ui inverted header m-text-thin m-text-spaced">info</h3>
                <p class="m-text-thin m-text-spaced m-opacity-mini">
                    This is my personal blog, I will share about programming, writing, thinking related content, I hope
                    it can help you...
                </p>
            </div>
        </div>
    </div>
</footer>
<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<script src="../static/js/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<!--/*/<th:block>/*/-->
</body>
<script type="text/javascript">
    $('.qq').popup();
    $('.phone').popup();
    $('.wechat').popup({
        popup: $('.wechatQr.popup'),
        on: 'hover',
        position: 'bottom center'
    })
</script>
</html>